@model IEnumerable<DiceGame.Models.User>
@{
    ViewBag.Title = "GuestIndex";
    Layout = "~/Views/Shared/_MyLayout2.cshtml";
}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<br />

@{Html.RenderPartial("slider");
}

<div class="jumbotron">
    <p>Online Users</p>
    <div class="row">
        @foreach (var item in Model.ToList())
        {
            <div class="card col-sm-3">
                        @Html.DisplayFor(m => item.UserName);<br />
                        @Html.Label("online");<br /> 
            </div>
     }
    </div>
</div>